@media(min-width: 650px){
  .map iframe{
    height: 50vh;
  }
}
@media (min-width: 1124px) {
  .contact_tainer{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .map iframe{
    height: 85vh;
    width: 100%;
  }
}
